.blocker {
  width: 100%;
  height: 100%;
  background-color: #000d;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2999;
}
.deprecated-popup {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  color: #eaeaea;
  font-size: 1.1rem;
  z-index: 3000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: #222;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0.8rem;
  border-radius: 1.5rem;
  width: max(30svw, 450px);
  max-width: 80svw;
  font-family: "Nunito", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-inline: 0.8rem;
    align-items: center;
    justify-content: center;
  }
  button,
  a {
    height: 2rem;
    border-radius: 1rem;
    padding-inline: 1rem;
    width: 100%;
    color: white;
    line-height: 2rem;
    cursor: pointer;
    background-color: var(--text-color-link);
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    border: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 16px;
  }
  button {
    background-color: #fff3;
  }
  span {
    width: 12rem;
  }
}

@media screen and (max-width: 500px) {
  .deprecated-popup {
    .info {
      flex-direction: column-reverse;
      text-align: center;

      span {
        width: 5rem;
      }
    }
    .buttons {
      flex-direction: column;
    }
  }
}
